<section class="relative overflow-hidden bg-white py-8">
    <div class="container relative z-10 mx-auto px-4">
      <div class="-m-8 flex flex-wrap items-center justify-between">
        <div class="w-auto p-8">
          <a href="#">
            <div class="inline-flex items-center">
              <svg
                width="40"
                height="46"
                viewBox="0 0 50 56"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
              </svg>
              <span class="ml-4 text-lg font-bold">DevUI</span>
            </div>
          </a>
        </div>
        
        <footer class="w-auto p-8">
          <ul class="-m-5 flex flex-wrap items-center">
            <li class="p-5">
              <a class="font-medium text-gray-600 hover:text-gray-700" href="#">
                Privacy Policy
              </a>
            </li>
            <li class="p-5">
              <a class="font-medium text-gray-600 hover:text-gray-700" href="#">
                Terms of Service
              </a>
            </li>
            <li class="p-5">
              <a class="font-medium text-gray-600 hover:text-gray-700" href="#">
                Return Policy
              </a>
            </li>
            <li class="p-5">
              <a class="font-medium text-gray-600 hover:text-gray-700" href="#">
                Contact Us
              </a>
            </li>
          </ul>
        </footer>

        <div class="w-auto p-8">
          <div class="-m-1.5 flex flex-wrap">
            <div class="w-auto p-1.5">
              <a href="#">
                <div class="flex h-8 w-8 items-center justify-center rounded-full border border-gray-300 hover:border-gray-400">
                  <svg
                    width="8"
                    height="14"
                    viewBox="0 0 8 14"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                  </svg>
                </div>
              </a>
            </div>
            <div class="w-auto p-1.5">
              <a href="#">
                <div class="flex h-8 w-8 items-center justify-center rounded-full border border-gray-300 hover:border-gray-400">
                  <svg
                    width="14"
                    height="11"
                    viewBox="0 0 14 11"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                  </svg>
                </div>
              </a>
            </div>
            <div class="w-auto p-1.5">
              <a href="#">
                <div class="flex h-8 w-8 items-center justify-center rounded-full border border-gray-300 hover:border-gray-400">
                  <svg
                    width="16"
                    height="15"
                    viewBox="0 0 16 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                  </svg>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>